services:
  webserver:
    image: {{ application.containerImage }}
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      - APP_ROOT={{ application.appRoot }}
      - WEB_ROOT={{ application.webRoot }}
      - SERVER_NAME=localhost
      - DB_HOST=database
      - DB_PORT=3306
      - DB_DRIVER={{ dbDriver }}
      - DB_NAME={{ vps.databaseName }}
      - DB_PASSWORD={{ vps.databasePassword }}
      - DB_USER={{ vps.databaseUsername }}
      - DP_APP_ID={{ application.id }}
      - CODES_ENABLE=no
    volumes:
      - ./data/webserver/:/var/www/html/:rw
    networks:
      - internal
{% if appContainerName == 'php' %}
    depends_on:
      - database
  database:
    image: mysql:8.0
    restart: always
    volumes:
      - "./data/mysql/:/var/lib/mysql/"
    environment:
      - MYSQL_DATABASE={{ vps.databaseName }}
      - MYSQL_USER={{ vps.databaseUsername }}
      - MYSQL_PASSWORD={{ vps.databasePassword }}
      - MYSQL_ROOT_PASSWORD=root_{{ vps.databasePassword }}
    networks:
      - internal
{% endif %}

networks:
  internal:
